@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

// font-family: 'Roboto', sans-serif;
$primary-light: #FFF;
$primary-color: #2699FB;
$primary-bckg: #D0DEFD;
$primary-text: #273A63;
$para-text: 1em;
$para2-text: 0.65em;
$heading-text : 2em;
$heading2-text : 1.5em;
$body-font: 'Roboto',sans-serif;

// reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $body-font;
}

.menu-wrap {
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.brand span {
    display: block;
    font-size: $heading2-text;
    color: $primary-light;
    margin-left: 1.5em;
}
.toggle {
    width: 30px;
    height: 21px;
    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    // display: none;
    margin-right: 1.5em;
}
.bar {
    height: 3px;
    width: 100%;
    background-color: $primary-light;
   
}
.nav-links {
    display: flex;
    margin-right: 1em;
}
.nav-links .items a {
    text-decoration: none;
    color: $primary-light;
    // display: block;
    padding: 1em;
    text-transform: uppercase;
}
.nav-links .items {
    list-style: none;
    padding: 0.75em 0;
}
li.items.sign {
    border: 1px solid $primary-light;
    border-radius: 0.75em;
    padding: 0.75em 1em;
}
main {
    height: 300vh;
    background-color: $primary-light;
}


// mobile media query//////////////////////////////////////////////////////////
@media all and (max-width: 768px){
    .toggle {
        display: flex;
    }
    .nav-links {
        display: none;
    }

    .active {
        display:flex;
        flex-direction: column;
        position: absolute;
        top: 64px;
        background-color: $primary-color;
        width: 100%;
        align-items: center;
        height: calc(100vh - 64px);
        justify-content: space-evenly;  
        transition: all 2s linear; 
    }
    .nav-links .items {
        margin: -6em 0;
    }  
}






