@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

// font-family: 'Roboto', sans-serif;
$primary-light: #fff;
$primary-color: #2699fb;
$primary-bckg: #d0defd;
$primary-text: #273a63;
$primary-grey: #7f7f7f;
$para-text: 1em;
$para2-text: 0.65em;
$heading-text: 2em;
$heading2-text: 1.5em;
$body-font: "Roboto",
sans-serif;

// reset css
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $body-font;
}

.menu-wrap {
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.brand span {
  display: block;
  font-size: $heading2-text;
  color: $primary-light;
  margin-left: 1.5em;
}

.toggle {
  width: 30px;
  height: 21px;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  // display: none;
  margin-right: 1.5em;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: $primary-light;
}

.nav-links {
  display: flex;
  margin-right: 1em;
}

.nav-links .items a {
  text-decoration: none;
  color: $primary-light;
  // display: block;
  padding: 1em;
  text-transform: uppercase;
}

.nav-links .items {
  list-style: none;
  padding: 0.75em 0;
}

li.items.sign {
  border: 1px solid $primary-light;
  border-radius: 0.75em;
  padding: 0.75em 1em;
}

main {
  //   height: 300vh;
  background-color: $primary-light;

  #section1 {
    width: 80%;
    margin: 0 auto;

    h4 {
      margin: 1.5em 0 1.5em 0;
      color: $primary-grey;
    }

    .blue-lg {
      color: $primary-color;
      margin-bottom: 1em;
      line-height: 1.5em;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 40px;
    }

    img {
      width: 100%;
      height: auto;
    }

    button {
      padding: 1.5em 3rem;
      display: inline-block;
      margin-bottom: 1.5em;
      text-transform: uppercase;
      border: 3px solid #bce0fd;
      border-radius: 0.5em;
      background-color: transparent;
      color: $primary-color;
    }
  }

  #section2 {
    width: 80%;
    margin: 0 auto;

    .blue-lg {
      color: $primary-color;
      margin-bottom: 1em;
      line-height: 1.5em;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 40px;
    }

    #img-section {
      width: 100%;
      margin: 0 auto;

      // display: grid;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  #section-3 {
    width: 80%;
    margin: 0 auto;
    .section-3-content {
      margin-top: 2em;
      padding: 3em;
      div.section-3-headings {
        // padding: 2em;
        // border: 1px solid red;
        display: flex;
        align-items: center;

        span.name {
          margin-left: 0.5em;
          font-weight: bold;
          color: $primary-color;
        }

        span.hour {
          margin-left: auto;
          font-size: 0.75em;
          color: $primary-grey;
        }
      }

      p {
        margin: 2.5em 0;
        font-size: 0.75em;
        color: $primary-grey;
      }

      img.photo {
        width: 100%;
        height: auto;
      }

      .section-3-footer {
        display: flex;
        align-items: center;
        margin-top: 2em;

        span.share {
          margin-left: auto;
          font-weight: bold;
          color: $primary-color;
        }
      }
    }
  }
}

// mobile media query//////////////////////////////////////////////////////////
@media all and (max-width: 768px) {
  .toggle {
    display: flex;
  }

  .nav-links {
    display: none;
  }

  .active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    background-color: $primary-color;
    width: 100%;
    align-items: center;
    height: calc(100vh - 64px);
    justify-content: space-evenly;
    transition: all 2s linear;
  }

  .nav-links .items {
    margin: -6em 0;
  }
}

@media all and (min-width: 768px) {
  #section2 {

    // background-color: red;
    #img-section {
      width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      // grid-auto-flow: row;
      gap: 0px 0px;
      grid-template-areas:
        "one two two"
        "three four five"
        "three six seven";

      #img-1 {
        grid-area: one;
      }

      #img-2 {
        grid-area: two;
      }

      #img-3 {
        grid-area: three;
      }

      #img-4 {
        grid-area: four;
      }

      #img-5 {
        grid-area: five;
      }

      #img-6 {
        grid-area: six;
      }

      #img-7 {
        grid-area: seven;
      }
    }
  }




  //   css for .parent commented out in the html notice it uses background images
  .parent {
    margin: 0 auto;
    width: 900px;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;

    .div1 {
      grid-area: 1 / 1 / 2 / 2;
      background-color: yellow;
    }

    .div2 {
      grid-area: 1 / 2 / 2 / 4;
      background-color: orange;
    }

    .div3 {
      grid-area: 2 / 1 / 4/ 2;
      background-color: red;
    }

    .div4 {
      grid-area: 2 / 2 / 3/ 3;
      background-color: purple;
    }

    .div5 {
      grid-area: 2 / 3 / 3/ 4;
      background-color: blue;
    }

    .div6 {
      grid-area: 3 / 2 / 4/ 3;
      background-color: green;
    }

    .div7 {
      grid-area: 3 / 3 / 4/ 4;
      background-color: yellowgreen;
    }
  }

  //   css for container commented out in the html notice it uses background images
  .container {
    width: 100%;
    height: 100%;
    height: 900px;

    div {
      border: 3px solid red;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "one two two"
    "three four five"
    "three six seven";
  }

  .one {
    grid-area: one;
    background-image: url("/images/Rectangle\ 75.png");
  }

  .two {
    grid-area: two;
    background-image: url("/images/Rectangle -14.png");
  }

  .three {
    grid-area: three;
    background-image: url("/images/Rectangle -15.png");
  }

  .four {
    grid-area: four;
    background-image: url("/images/Rectangle\ 72.png");
  }

  .five {
    grid-area: five;
    background-image: url("/images/Rectangle 432.png");
  }

  .six {
    grid-area: six;
    background-image: url("/images/Rectangle\ 73.png");
  }

  .seven {
    grid-area: seven;
    background-image: url("/images/Rectangle 433.png");
  }
}

@media screen and (min-width: 768px) and (max-width:1023px){
  #section-3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  #section-3 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  }
}

