@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

// font-family: 'Roboto', sans-serif;
$primary-light: #fff;
$primary-color: #175bf5;
$primary-bckg: #d0defd;
$primary-text: #273a63;
$para-text: 1em;
$para2-text: 0.65em;
$heading-text: 2em;
$heading2-text: 1.5em;
$body-font: "Roboto", sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// body {
//     background-color: $primary-light;
//     color: $primary-text;
//     font-size: $para-text;
//     font-family: $body-font;
//     .container {
//         width: 100vw;
//         height: 100vh;
//         background-color: $primary-light;
//         nav {
//             width: 100%;
//             // position: relative;
//             height: 75px;
//             background-color: $primary-color;
//             display: flex;
//             align-items: center;
//             flex-flow: row wrap;
//             justify-content: space-between;
//             align-items: center;
//             #brand-section {
//                 display: flex;
//                 flex-direction: column;
//                 margin-left: 1.5em;
//                 span {
//                     text-transform: uppercase;
//                     display: inline-block;
//                     color: $primary-light;
//                     font-size: $heading2-text;
//                 }
//                 span:nth-of-type(2){
//                     font-size: $para2-text;
//                 }
//             }
//             #menu-section {
//                 margin-left: auto;
//                 margin-right: 1.5em;
//                 display: flex;
//                 flex-direction: column;
//                 // height: 100%;
//                 .menu {
//                     width: 40px;
//                     height: 0.2em;
//                     background-color: $primary-light;
//                     // display: inline-block;
//                 }
//                 .menu:nth-of-type(2) {
//                     margin: 0.3em 0;
//                 }
//             }

//         }
//     }
// }
// @media screen and (min-width: 768px){
//     body .container nav #navigation  {
//             position: relative;
//                 display: flex;
//                 ul {
//                     display: flex;
//                 }
//             }
//             body .container nav #menu-section {
//                 display: none;
//                 position: absolute;
//             }
// }

body {
  background-color: $primary-light;
  color: $primary-text;
  font-size: $para-text;
  font-family: $body-font;
  .container {
    width: 100vw;
    height: 100vh;
    background-color: $primary-light;
  }
  nav {
    background-color: $primary-color;
    ul {
      list-style-type: none;
      .brand {
        color: $primary-light;
        font-size: $heading2-text;
        text-transform: uppercase;
      }
      a {
        color: $primary-light;
        font-size: $para2-text;
        text-transform: uppercase;
        text-decoration: none;
      }
      a:hover {
          text-decoration: underline;
      }
    }
  }
}
.menu li {
    font-size: $para2-text;
    padding: 1em 0.5em;
    a {
        display: block;
    }

}
// maybe
.button.secondary {
    border-bottom: 1px $primary-light solid;
}

// Mobile Menu
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle {
    order: 1;
}
.toggle {
    cursor: pointer;
}
.item {
    order: 2;//double check b4 moving on
}
.bars {
    background-color: $primary-light;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 2.2em;
}
.bars::before, .bars::after {
    content: "";
    background-color: $primary-light;
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 2.2em;
}
.bars::before {
    top: 0.75em;
}
.bars::after {
    top: -0.75em;
}
.item {
    width: 100%;
    text-align: center;
    // order: 3;
    display: none;
}
.item.active {
  display: block;
}

// Tablet Menu
@media all and (min-width:768px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    order: 2;
  }
  .button.secondary {
    
  }
}